{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Mission Requirements{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="cargo">Cargo</label>
    <input name="cargo" id="cargo" required>
    <label for="bonus">Bonus</label>
    <input name="bonus" id="bonus" required>
    <input type="submit" value="Submit">
  </form>
  {% if g.recommendation %}
    <hr>
    <p>Requested Capacity: <b>{{ g.recommendation.requested_capacity }}</b>
    {% if g.recommendation.requested_capacity != g.recommendation.recommended_capacity %}
    <p>Recommended Capacity: <b>{{ g.recommendation.recommended_capacity }}</b>
    {% else %}
    <p>Recommended Capacity: {{ g.recommendation.recommended_capacity }}
    {% endif %}
    <ul>
        {% for ship in g.recommendation.recommended_fleet %}
        <li>{{ ship }}</li>
        {% endfor %}
    </ul>
  {% endif %}
{% endblock %}
